
@{
    ViewBag.Title = "Biblioteca";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <style>

        
    </style>
</head>
<body class="bg-gradient-primary">
    <div class="container">
        <!-- Outer Row -->
        <div class="row justify-content-center">
            <div class="col-xl-10 col-lg-12 col-md-9">
                <div class="card o-hidden border-0 shadow-lg my-5">
                    <div class="card-body p-0">
                        <!-- Nested Row within Card Body -->
                        <div class="row">
                            <div class="col-6">
                                <img src="@Url.Content("https://images.vexels.com/content/216637/preview/digital-library-logo-design-1c96fa.png")" style="width: 500px;height: 500px;" />
                            </div>
                            <div class="col-6">
                                <div class="p-5">
                                    <div class="text-center">
                                        <h1 class="h4 text-gray-900 mb-4">Bienvenido</h1>
                                    </div>
                                    <form class="user" action="@Url.Action("Index","Login")" method="post" >
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-user" name="correo" placeholder="Email" value="">
                                        </div>
                                        <div class="form-group">
                                            <input type="password" class="form-control form-control-user" name="clave" placeholder="Password" value="">
                                        </div>
                                        <div class="form-group">
                                            @{if (ViewBag.Error != null)
                                                {
                                                    <div class="alert alert-danger" role="alert">
                                                        @ViewBag.Error
                                                    </div>
                                                }
                                            }
                                        </div>
                                        <button class="btn btn-primary btn-block btn-user" type="submit">Ingresar</button>

                                    </form>
                                    <hr>
                                    <div class="text-center justify-content-center">
                                        <p class="text-primary mb-0">Todos los derechos reservados &copy<b>ICR</b></p>
                                        <a class="text-warning" type="button" onclick="abrirModal(null)">Crear Cueta</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>


<div class="modal fade" id="FormModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">Crear una Cueta</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="txtid" type="hidden" value="0" />
                <form id="formNivel">
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txtdescripcion">Nombre:</label>
                                <input type="text" class="form-control required" id="txtnombre" name="descripcion" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txtdescripcion">Apellido:</label>
                                <input type="text" class="form-control required" id="txtapellido" name="descripcion" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txtdescripcion">Correo:</label>
                                <input type="text" class="form-control required" id="txtcorreo" name="descripcion" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="txtdescripcion">Contraseña:</label>
                                <input type="password" class="form-control required" id="txtclave" name="descripcion" autocomplete="off">
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="cbotipo">Tipo:</label>
                                <select id="cbotipo" class="form-control">
                                </select>
                            </div>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
     <script>

        $(document).ready(function () {
            jQuery.ajax({
                url: '@Url.Action("ListarTipoPersona", "Biblioteca")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.each(data.data, function (index, value) {
                        if(value.descripcion != "Administrador")
                            $("<option>").attr({ "value": value.idTipoPersona }).text(value.descripcion).appendTo("#cbotipo");
                    });
                },
                error: function (error) {
                    console.log(error)
                }
            });

        });


     function abrirModal(json) {
            $("#txtid").val(0);
            $("#txtnombre").val("");
            $("#txtapellido").val("");
            $("#txtcorreo").val("");
            $("#txtclave").val("");
            $("#cbotipo").val(1);

            if (json != null) {

                $("#txtid").val(json.idPersona);
                $("#txtnombre").val(json.nombre);
                $("#txtapellido").val(json.apellido);
                $("#txtcorreo").val(json.correo);
                $("#txtclave").val(json.clave);
                $("#cbotipo").val(json.oTipoPersona.idTipoPersona);
            }

            $('#FormModal').modal('show');
        }

    function Guardar() {
        
            jQuery.ajax({
                url: '@Url.Action("GuardarPersona", "Biblioteca")',
                type: "POST",
                data: {
                    IdPersona: $("#txtid").val(),
                    Nombre: $("#txtnombre").val(),
                    Apellido: $("#txtapellido").val(),
                    Correo: $("#txtcorreo").val(),
                    Clave: $("#txtclave").val(),
                    oTipoPersona: { IdTipoPersona : $("#cbotipo option:selected").val() },
                    Estado: true
                    },
                success: function (data) {

                    if (data.resultado) {
                        $('#FormModal').modal('hide');
                    } else {
                        alert("No se pudo guardar los cambios");
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                },
            });

        }
     </script>
}