
@{
    ViewBag.Title = "Libros";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var usuarioId = Context.Request.Cookies["Usuario"];
}

@if(int.TryParse(usuarioId, out int exist)){
<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3 bg-primary">
        <h6 class="m-0 font-weight-bold text-white">Lista de libros</h6>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <button class="btn btn-success btn-sm" type="button" onclick="abrirModal(null)">Crear Nuevo</button>
            </div>
        </div>
        <hr />
        <div class="row">
            <div class="col-sm-12">

                <div class="table-responsive">
                    <table class="table table-bordered" id="tabla" style="width:100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th>Titulo</th>
                                <th>Autor</th>
                                <th>Categoria</th>
                                <th>Editorial</th>
                                <th>Ubicacion</th>
                                <th>Ejemplares</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <th>Titulo</th>
                                <th>Autor</th>
                                <th>Categoria</th>
                                <th>Editorial</th>
                                <th>Ubicacion</th>
                                <th>Ejemplares</th>
                                <th>Estado</th>
                                <th></th>
                            </tr>
                        </tfoot>
                        <tbody></tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
}else{
     Context.Response.Redirect("/");
}



<!-- Modal -->
<div class="modal fade" id="FormModal" data-backdrop="static" data-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header bg-primary text-white">
                <h5 class="modal-title" id="exampleModalLabel">Libro</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <input id="txtid" type="hidden" value="0" />
                <form id="formNivel">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <img id="imglibro" height="192" width="190" class="border border-dark" />
                            </div>
                            <div class="form-group">
                                <input class="form-control-file" type="file" id="filelibro" onchange="readURL(this);">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txttitulo">Titulo</label>
                                <input type="text" class="form-control required" id="txttitulo" name="descripcion" autocomplete="off">
                            </div>
                            <div class="form-group">
                                <label for="cboautor">Autor</label>
                                <select id="cboautor" class="form-control"></select>
                            </div>
                            <div class="form-group">
                                <label for="cbocategoria">Categoria</label>
                                <select id="cbocategoria" class="form-control"></select>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="cboeditorial">Editorial</label>
                                <select id="cboeditorial" class="form-control"></select>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtubicacion">Ubicacion</label>
                                <input type="text" class="form-control required" id="txtubicacion" name="descripcion" autocomplete="off">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="txtejemplares">Ejemplares</label>
                                <input type="text" class="form-control required" id="txtejemplares" name="descripcion" autocomplete="off">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="cboEstado">Estado:</label>
                                <select id="cboEstado" class="form-control">
                                    <option value="1">Activo</option>
                                    <option value="0">No Activo</option>
                                </select>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cerrar</button>
                <button type="button" class="btn btn-primary" onclick="Guardar()">Guardar</button>
            </div>
        </div>
    </div>
</div>


@section scripts{

    <script>
        var tabladata;

        function readURL(input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('#imglibro')
                        .attr('src', e.target.result)
                        .width(190)
                        .height(192);
                };

                reader.readAsDataURL(input.files[0]);
            }
        }

        $(document).ready(function () {
            jQuery.ajax({
                url: '@Url.Action("ListarCategoria", "Biblioteca")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.each(data.data, function (index, value) {
                        if(value.estado){
                            $("<option>").attr({ "value": value.idCategoria }).text(value.descripcion).appendTo("#cbocategoria");
                        }
                    });
                },
                error: function (error) {
                    console.log(error)
                }
            });

            jQuery.ajax({
                url: '@Url.Action("ListarAutor", "Biblioteca")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.each(data.data, function (index, value) {
                        if(value.estado){
                            $("<option>").attr({ "value": value.idAutor }).text(value.descripcion).appendTo("#cboautor");
                        }
                    });
                },
                error: function (error) {
                    console.log(error)
                }
            });

            jQuery.ajax({
                url: '@Url.Action("ListarEditorial", "Biblioteca")',
                type: "GET",
                data: null,
                dataType: "json",
                contentType: "application/json; charset=utf-8",
                success: function (data) {
                    $.each(data.data, function (index, value) {
                        if(value.estado){
                            $("<option>").attr({ "value": value.idEditorial }).text(value.descripcion).appendTo("#cboeditorial");
                        }
                    });
                },
                error: function (error) {
                    console.log(error)
                }
            });

            tabladata = $('#tabla').DataTable({
                responsive:true,
                "ajax": {
                    "url": '@Url.Action("ListarLibro", "Biblioteca")',
                    "type": "GET",
                    "datatype": "json"
                },
                "columns": [
                    { "data": "titulo" },
                    {
                        "data": "oAutor", render: function (data) {
                            return data.descripcion
                        }
                    },
                    {
                        "data": "oCategoria", render: function (data) {
                            return data.descripcion
                        }
                    },
                    {
                        "data": "oEditorial", render: function (data) {
                            return data.descripcion
                        }
                    },
                    { "data": "ubicacion" },
                    { "data": "ejemplares" },
                    {
                        "data": "estado", "render": function (data) {
                            if (data) {
                                return '<span class="badge badge-success p-2">Activo</span>'
                            } else {
                                return '<span class="badge badge-danger p-2">No Activo</span>'
                            }
                        }
                    },
                    {
                        "data": "idLibro", "render": function (data, type, row, meta) {

                           var editarButton = $('<button>').addClass("btn btn-primary btn-sm editar").append(
                                $('<i>').addClass("fas fa-pen")
                            ).attr({ "data-informacion": JSON.stringify(row) })[0].outerHTML;

                            var eliminarButton = $('<button>').addClass("btn btn-danger btn-sm eliminar").append(
                                $('<i>').addClass("fas fa-trash")
                            ).attr({ "data-informacion": JSON.stringify(row) })[0].outerHTML;

                            return editarButton + eliminarButton;

                        },
                        "orderable": false,
                        "searchable": false,
                        "width": "90px"
                    }

                ]
            });
        });



        $(document).on('click', '.editar', function (event) {
            var json = $(this).data("informacion")

            abrirModal(json)
        });

        function abrirModal(json) {
            $("#txtid").val(0);
            $("#imglibro").attr({ "src": "" });
            $("#filelibro").val("");
            $("#txttitulo").val("");
            $("#cboautor").val($("#cboautor option:first").val());
            $("#cbocategoria").val($("#cbocategoria option:first").val());
            $("#cboeditorial").val($("#cboeditorial option:first").val());
            $("#txtubicacion").val("");
            $("#txtejemplares").val("");
            $("#cboEstado").val(1);

            if (json != null) {

                $("#txtid").val(json.idLibro);
                $("#imglibro").attr({ "src": "data:image/" + json.extension + ";base64," + json.base64 });
                $("#txttitulo").val(json.titulo);
                $("#cboautor").val(json.oAutor.idAutor);
                $("#cbocategoria").val(json.oCategoria.idCategoria)
                $("#cboeditorial").val(json.oEditorial.idEditorial)
                $("#txtubicacion").val(json.ubicacion);
                $("#txtejemplares").val(json.ejemplares);
                $("#cboEstado").val(json.estado == true ? 1 : 0);
            }

            $('#FormModal').modal('show');
        }

        $(document).on('click', '.eliminar', function (event) {
            var json = $(this).data("informacion");
            if (confirm('¿Estás seguro de que deseas eliminar este Libro?')) {
                    EliminarLibro(json.idLibro);
                }
        });

        function EliminarLibro(IdLibro) {
                $.ajax({
                    url: '@Url.Action("EliminarLibro", "Biblioteca")',
                    type: 'POST',
                    data: { IdLibro: IdLibro },
                    success: function (response) {
                        if (response.resultado) {
                            alert('Libro eliminado correctamente');
                            $('#tabla').DataTable().ajax.reload();
                        } else {
                            alert('Error al eliminar la libro');
                        }
                    },
                    error: function (err) {
                        alert('Error de comunicación');
                    }
                });
            }

        function Guardar() {

            var ImagenSeleccionada = ($("#filelibro"))[0].files[0];

            var objeto = {
                IdLibro: $("#txtid").val(),
                Titulo: $("#txttitulo").val(),
                oAutor: { IdAutor: $("#cboautor option:selected").val() },
                oCategoria: { IdCategoria: $("#cbocategoria option:selected").val() },
                oEditorial: { IdEditorial: $("#cboeditorial option:selected").val() },
                Ubicacion: $("#txtubicacion").val(),
                Ejemplares: $("#txtejemplares").val(),
                Estado: parseInt($("#cboEstado").val()) == 1 ? true : false
            }

            var request = new FormData();
            request.append("imagenArchivo", ImagenSeleccionada);
            request.append("objeto", JSON.stringify(objeto));

            jQuery.ajax({
                url: '@Url.Action("GuardarLibro", "Biblioteca")',
                type: "POST",
                data: request,
                processData: false,
                contentType : false,
                success: function (data) {

                    if (data.resultado) {
                        tabladata.ajax.reload();
                        $('#FormModal').modal('hide');
                    } else {
                        alert("No se pudo guardar los cambios")
                    }
                },
                error: function (error) {
                    console.log(error)
                },
                beforeSend: function () {

                },
            });

        }

        $.fn.inputFilter = function (inputFilter) {
            return this.on("input keydown keyup mousedown mouseup select contextmenu drop", function () {
                if (inputFilter(this.value)) {
                    this.oldValue = this.value;
                    this.oldSelectionStart = this.selectionStart;
                    this.oldSelectionEnd = this.selectionEnd;
                } else if (this.hasOwnProperty("oldValue")) {
                    this.value = this.oldValue;
                    this.setSelectionRange(this.oldSelectionStart, this.oldSelectionEnd);
                } else {
                    this.value = "";
                }
            });
        };

        $("#txtejemplares").inputFilter(function (value) {
            return /^-?\d*$/.test(value);
        });

    </script>

}
